export SECRET_KEY_BASE={{ secret_token }}
export RAILS_ENV={{ rails_environment }}
export DB_NAME={{ database_name }}
export DB_USERNAME={{ database_user }}
export DB_PASSWORD={{ database_password }}
export SMTP_ADDRESS={{ smtp_address }}
export SMTP_PORT={{ smtp_port }}
export SMTP_DOMAIN={{ smtp_domain }}
export SMTP_USERNAME={{ smtp_username }}
export SMTP_PASSWORD={{ smtp_password }}
{% if development_host|default(False) %}
export DEVELOPMENT_HOST={{ development_host }}
{% endif %}
