#!/bin/sh
cat <<EOF

Now, you need to start all required services manually or run this command to start all of them in a tmux session.

$ tmuxinator start katuma

You can move between windows with Ctrl+b + [0,3]:

Happy hacking! :D

EOF
